/*
    Amanda Williams
    March 8, 2019
    These are the general styles that are consistent
    across the whole site.
 */

/*
These are the same colors as the 'menu candies'
    Colors:
    Blue: rgb(0,38,255);
    Cyan: rgb(0,255,255);
    Green: rgb(8,255,0);
    Orange: rgb(255,106,0);
    Pink: rgb(255,0,220);
    Purple: rgb(178,0,255);
    Red: rgb(255,0,0);
    Yellow: rgb(255,216,0);

    Accent Colors:
    Gray-Pink: rgb(224,163,218);
    Light-Gray: rgb(204, 199, 195);
    Gray: rgb(150, 150, 150);
    IceCream-Cone Tan: rgb(255, 220, 140);
    Paler Tan: rgb(255, 246, 226);
    I-dont-know
    -strawberry-cream?: rgb(255, 216, 242);
    Footer-Maroon: rgb(112, 56, 91);
 */
/*
________________________________________________________________________________
 */
/* Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab');

/* Fonts */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Pacifico', cursive;
}
p {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
/*
--------------------------------------------------------------------------------
 */
/* Background */
html {
    background-color: rgb(0,255,255);
}


body {
    background-image: url("../images/LOGO-icon(2).png");
    background-color: rgb(255, 216, 242);
    width: 100%;
}

/* Header */
header {
    background-color: rgb(255, 220, 140);
    text-align: center;
    border: 8px ridge rgb(255, 220, 140);
    border-radius: 0 0 35px 35px;
}

/* Footer */
footer {
    background-color: rgb(112, 56, 91);
    color: white;
    font-family: 'Pacifico', cursive;
}
/*
--------------------------------------------------------------------------------
 */
/* Menu Buttons */
header div {
    display: inherit;
    border-radius: inherit;
}
nav {
    display: block;
    background-color: rgb(0, 255, 255);
    border-top: 5px ridge rgb(0, 255, 255);
    border-radius: inherit;
}

/* button 1 */
div#btn1 {
    background-image: url("../images/candy-button-BLUE.png");
}
/* button 2 */
div#btn2 {
    background-image: url("../images/candy-button-RED.png");
}
/* button 3 */
div#btn3 {
    background-image: url("../images/candy-button-YELLOW.png");
}
/* button 4 */
div#btn4 {
    background-image: url("../images/candy-button-GREEN.png");
}
/* All Buttons */
nav div * {
    width: 200px;
    padding-top: 6px;
    height: 75px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    text-align: center;

    font-family: 'Pacifico', cursive;
    font-size: 1.3em;
    color: white;
    text-shadow: -1px -1px 3px rgb(204, 199, 195),1px 1px 3px rgb(224,163,218);
}

/* All buttons hover */
nav div a:hover {
    color: rgb(255,0,220);
    text-shadow: 1px 1px rgb(255, 216, 242),-1px -1px rgb(0,255,255);
}
/*
--------------------------------------------------------------------------------
 */
/* Main Content */
div.mainContent {
    border: 5px ridge rgba(255, 216, 242, 1);
    background-color: rgba(255, 246, 226, 0.97);
    width: 90%;

    padding-left: 10px;
    padding-right: 10px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Logo Section */

/*
________________________________________________________________________________
 */
/* Mobile View */
