<!--
    article.html
    Displays all the articles in the database
-->
<div class="mainContent text-center">

    <h1>{{ @title }}</h1>
    <div class="container rounded boards">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-11 boardColumns articles">
                <repeat group="{{ @allArticles }}" value="{{ @article }}">
                    <div class="rounded board article">
                        <!--title-->
                        <a href="A{{ @article->getBoardId() }}">
                            <h4>{{ @article->getTitle() }}</h4>
                        </a>
                        <!--Only displays save button if the user is logged in, and the article isn't already saved-->
                        <check if="{{isset(@SESSION.user) AND !in_array('A'.@article->getBoardId(), @SESSION.user->getBoardStrings())}}">
                            <button class="btn btn-primary saveArticle" data-article-id="{{@article->getBoardId()}}">
                                Save
                            </button>
                        </check>
                        <div class="boardContent">
                            <!--image and or text-->
                            <check if="{{ @article->getImgPath()!='' }}">
                                <true><!--if article has an image-->
                                    <img src="{{ @article->getImgPath() }}" alt="{{ @article->getTitle() }}">
                                </true>
                                <false><!--article doesn't have an image-->
                                    <p>{{ substr(@article->getBody(),0,150) }}</p>
                                </false>
                            </check>
                        </div>
                    </div> <!--end board, article-->
                </repeat>
            </div><!--.boardColumn, articles-->
        </div><!--end row-->
    </div><!--end container, board-->

</div><!--.mainContent-->