<!--
    board.html
    Displays a board which has been selected
-->
<div class="mainContent">
    <!--Title of the board and the author-->
    <h1>{{ @board->getTitle() }}</h1>
    <h5>By: {{ @author }}</h5>

    <!--Only displays save button if the user is logged in-->
    <check if="{{isset(@SESSION.user)}}">
        <!--Save recipe-->
        <check if="{{get_class(@board)=='Recipe' AND !in_array('R'.@board->getBoardId(), @SESSION.user->getBoardStrings())}}">
            <button class="btn btn-primary saveRecipe" data-recipe-id="{{@board->getBoardId()}}">
                Save
            </button>
        </check>
        <!--Save article-->
        <check if="{{get_class(@board)=='Article' AND !in_array('A'.@board->getBoardId(), @SESSION.user->getBoardStrings())}}">
            <button class="btn btn-primary saveArticle" data-article-id="{{@board->getBoardId()}}">
                Save
            </button>
        </check>
    </check>

    <div class="container rounded boards">
        <div class="row">
            <div class="col-11 boardColumns">
                <div class="board">
                    <!--If there is and image display it-->
                    <check if="{{ @board->getImgPath() }}">
                        <img src="{{ @board->getImgPath() }}" alt="{{ @board->getTitle() }}">
                    </check>

                    <div class="boardContent">
                        <check if="{{ get_class(@board)=='Article' }}">
                            <!--If this is an article display the content-->
                            <true>
                                <p>{{ @board->getBody() }}</p>
                            </true>
                            <!--else this is a recipe so display the ingredients and the instructions-->
                            <false>

                                <ul>
                                    <repeat group="{{ @board->getIngredients() }}" value="{{ @ingredient }}">
                                        <li><h4>{{@ingredient}}</h4></li>
                                    </repeat>
                                </ul>
                                <hr>
                                <ol>
                                    <repeat group="{{ @board->getInstructions() }}" value="{{ @instruction }}">
                                        <li>{{ @instruction }}</li>
                                    </repeat>
                                </ol>
                            </false>
                        </check>
                    </div><!--.boardContent-->
                </div><!--.board-->
            </div><!--.boardColumns-->
        </div><!--row-->

    </div><!--.container, boards-->


</div><!--.mainContent-->