<!--Home page content-->
<div class="mainContent text-center">
    <h1>{{ @title }}</h1>
    <form method="post" action="">
        <check if="{{isset(@createSuccess)}}">
            <p class="text-success">{{@createSuccess}}</p>
        </check>

        <div class="form-group">
            <label class="form-control-label" for="title"> Title:</label>
            <input class="form-control" type="text" name="title" id="title"
            <check if="{{isset(@POST.title)}}">value="{{@POST.title}}"</check>
            >

        </div>
        <check if="{{isset(@titleError)}}">
            <p class="text-danger">{{@titleError}}</p>
        </check>

        <div class="form-group">
            <!--Do not add whitespace to textarea-->
            <label class="form-control-label" for="body"> Article Body:</label>
            <textarea class="form-control" name="body" id="body"><check if="{{isset(@POST.body)}}">{{@POST.body}}</check></textarea>
        </div>
        <check if="{{isset(@bodyError)}}">
            <p class="text-danger">{{@bodyError}}</p>
        </check>

        <div class="form-group">
            <label class="form-control-label" for="img"> Image URL:</label>
            <input class="form-control" type="text" name="img" id="img">
        </div>
        <button class="btn btn-primary" name="btn">Create Article</button>
    </form>
</div>