<!--Home page content-->
<div class="mainContent">
    <h1>{{ @title }}</h1>
    <div class="container" id="boardDisplay">
        <div class="row">
            <div class="col-5" id="articles">
                <repeat group="{{@allBoards}}" value="{{@board}}">
                    <check if="{{get_class(@board) == 'Article'}}">
                        <a href="articles/A{{@board->getBoardId()}}"><h4>{{@board->getTitle()}}</h4></a>
                        <check if="{{@board->getImgPath() != ''}}">
                            <true>
                                <img src="{{@board->getImgPath()}}" alt="image for {{@board->getTitle()}}">
                            </true>
                            <false>
                                <p>{{ substr(@board->getBody(),0, 150) }}</p>
                            </false>
                        </check>
                    </check>
                </repeat>
            </div>

            <div class="col-5" id="recipes">
                <repeat group="{{@allBoards}}" value="{{@board}}">
                    <check if="{{get_class(@board) == 'Recipe'}}">
                        <a href="recipes/R{{ @board->getBoardId() }}">
                            <h4>{{ @board->getTitle() }}</h4>
                        </a>
                        <check if="{{@board->getImgPath() != ''}}">
                            <true>
                                <img src="{{@board->getImgPath()}}" alt="image for {{@board->getTitle()}}">
                            </true>
                            <false>
                                <ul>
                                    <repeat group="{{ @board->getIngredients() }}" value="{{ @ingredients }}">
                                        <li>{{ @ingredients }}</li>
                                    </repeat>
                                </ul>
                            </false>
                        </check>
                    </check>
                </repeat>
            </div>
        </div>
    </div>

</div>