<!--Home page content-->
<div class="mainContent rounded">
    <h1>{{ @title }}</h1>
    <p>I need some sort of content to test the main background color so cooperate!</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>tall</p>
    <p>Much text, so much text. Much text, so much text. Much text, so much text. Much text, so much text.
        Much text, so much text. Much text, so much text. Much text, so much text. Much text, so much text.
        Much text, so much text. Much text, so much text. Much text, so much text. Much text, so much text.
        Much text, so much text. Much text, so much text. Much text, so much text. Much text, so much text.
        Much text, so much text. Much text, so much text. Much text, so much text. Much text, so much text.
    </p>
</div>