<!--
    profile.html
    Displays all the boards saved by the user
        requires a user to be logged in.
-->
<div class="mainContent text-center">
    <h1>{{ @username }}</h1>

    <a class="btn btn-primary" href="create">Create new board</a>
    <a class="btn btn-primary" href="logout">Log out</a>

    <!--Display all saved articles/recipes-->
    <div class="container rounded boards" id="boardDisplay">
        <!--Articles-->
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-11 boardColumns articles">
                <repeat group="{{@boards}}" value="{{@board}}">
                    <check if="{{get_class(@board) == 'Article'}}">
                        <div class="rounded board article">
                            <a href="A{{@board->getBoardId()}}">
                                <h4>{{@board->getTitle()}}</h4>
                            </a>
                            <button class="btn btn-primary unsaveArticle" data-article-id="{{@board->getBoardId()}}">
                                Unsave
                            </button>
                            <div class="boardContent">
                                <check if="{{@board->getImgPath() != ''}}">
                                    <true>
                                        <img class="img-fluid" src="{{@board->getImgPath()}}"
                                             alt="image for {{@board->getTitle()}}">
                                    </true>
                                    <false>
                                        <p>{{ substr(@board->getBody(),0, 150) }}</p>
                                    </false>
                                </check>
                            </div><!--.boardContent-->
                        </div><!--.board, article-->
                    </check>
                </repeat>
            </div><!--.boardColumns, articles-->


            <div class="col-lg-5 col-sm-11 boardColumns recipes">
                <repeat group="{{@boards}}" value="{{@board}}">
                    <check if="{{get_class(@board) == 'Recipe'}}">
                        <div class="rounded board recipe">
                            <a href="R{{ @board->getBoardId() }}">
                                <h4>{{ @board->getTitle() }}</h4>
                            </a>
                            <button class="btn btn-primary unsaveRecipe" data-recipe-id="{{@board->getBoardId()}}">
                                Unsave
                            </button>
                            <div class="boardContent">
                                <check if="{{@board->getImgPath() != ''}}">
                                    <true>
                                        <img class="img-fluid" src="{{@board->getImgPath()}}"
                                             alt="image for {{@board->getTitle()}}">
                                    </true>
                                    <false>
                                        <ul>
                                            <repeat group="{{ @board->getIngredients() }}" value="{{ @ingredients }}">
                                                <li>{{ @ingredients }}</li>
                                            </repeat>
                                        </ul>
                                    </false>
                                </check>
                            </div><!--.boardContent-->
                        </div><!--.board, recipe-->
                    </check>
                </repeat>
            </div><!--.boardColumns, recipes-->

        </div><!--end row-->
    </div><!--.container, boards-->
</div><!--.mainContent-->