<div class="mainContent text-center">
    <h1>{{ @username }}</h1>

    <!--TODO make into a candy button-->
    <a class="btn btn-primary" href="create">Create new board</a>

    <!--Display all saved articles/recipes-->
    <div class="container" id="boardDisplay">
        <!--Articles-->
        <div class="row">
            <div class="col-5">
                <repeat group="{{@boards}}" value="{{@board}}">
                    <check if="{{get_class(@board) == 'Article'}}">
                        <a href="articles/{{@board->getBoardId()}}"><h4>{{@board->getTitle()}}</h4></a>
                        <check if="{{@board->getImgPath() != ''}}">
                            <true>
                                <img src="{{@board->getImgPath()}}" alt="image for {{@board->getTitle()}}">
                            </true>
                            <false>
                                <p>{{ substr(@board->getBody(),0, 150) }}</p>
                            </false>
                        </check>
                    </check>
                </repeat>
            </div>

            <div class="col-5">
                <repeat group="{{@boards}}" value="{{@board}}">
                    <check if="{{get_class(@board) == 'Recipe'}}">
                        <a href="recipes/{{ @board->getBoardId() }}">
                            <h4>{{ @board->getTitle() }}</h4>
                        </a>
                        <check if="{{@board->getImgPath() != ''}}">
                            <true>
                                <img src="{{@board->getImgPath()}}" alt="image for {{@board->getTitle()}}">
                            </true>
                            <false>
                                <ul>
                                    <repeat group="{{ @board->getIngredients() }}" value="{{ @ingredients }}">
                                        <li>{{ @ingredients }}</li>
                                    </repeat>
                                </ul>
                            </false>
                        </check>
                    </check>
                </repeat>
            </div>
        </div>
    </div>
</div>