<!--
    recipes.html
    Displays all recipes in the database.
-->
<div class="mainContent text-center">
    <h1>{{ @title }}</h1>
    <div class="col-12 container rounded boards">
        <div class="text-left row">

            <div class="col-12 boardColumns recipes">
                <repeat group="{{ @allRecipes }}" value="{{ @recipe }}">
                    <div class="col-lg-5 col-sm-12 float-left rounded board recipe">
                        <!--title-->
                        <a href="R{{ @recipe->getBoardId() }}">
                            <h4>{{ @recipe->getTitle() }}</h4>
                        </a>
                        <!--Only displays save button if the user is logged in, and the recipe isn't already saved-->
                        <check if="{{isset(@SESSION.user) AND !in_array('R'.@recipe->getBoardId(), @SESSION.user->getBoardStrings())}}">
                            <button class="btn btn-primary saveRecipe" data-recipe-id="{{@recipe->getBoardId()}}">
                                Save
                            </button>
                        </check>
                        <div class="boardContent">
                            <!--image and or text-->
                            <check if="{{ @recipe->getImgPath() }}">
                                <true><!--if article has an image-->
                                    <img class="img-fluid" src="{{ @recipe->getImgPath() }}" alt="{{ @recipe->getTitle() }}">
                                </true>
                                <false><!--article doesn't have an image-->
                                    <ul>
                                        <repeat group="{{ @recipe->getIngredients() }}" value="{{ @ingredient }}">
                                            <li>{{ @ingredient }}</li>
                                        </repeat>
                                    </ul>
                                </false>
                            </check>
                        </div>
                    </div> <!--end board, recipe-->
                </repeat>
            </div><!--boardColumns, recipes-->

        </div><!--end row-->
    </div><!--end container, board-->
</div><!--.mainContent-->