<!--
    recipes.html
    Displays all recipes in the database.
-->
<div class="mainContent">

    <h1>{{ @title }}</h1>
    <div class="container rounded boards">
        <div class="row">
            <div class="col-lg-5 col-sm-11 boardColumns recipes">
                <repeat group="{{ @allRecipes }}" value="{{ @recipe }}">
                    <div class="rounded board recipe">
                        <!--title-->
                        <a href="R{{ @recipe->getBoardId() }}">
                            <h4>{{ @recipe->getTitle() }}</h4>
                        </a>
                        <!--<button class="btn btn-primary saveRecipe" data-recipe-id="{{@board->getBoardId()}}">Save</button>-->
                        <div class="boardContent">
                            <!--image and or text-->
                            <check if="{{ @recipe->getImgPath() }}">
                                <true><!--if article has an image-->
                                    <img src="{{ @recipe->getImgPath() }}" alt="{{ @recipe->getTitle() }}">
                                </true>
                                <false><!--article doesn't have an image-->
                                    <ul>
                                        <repeat group="{{ @recipe->getIngredients() }}" value="{{ @ingredient }}">
                                            <li>{{ @ingredient }}</li>
                                        </repeat>
                                    </ul>
                                </false>
                            </check>
                        </div>
                    </div> <!--end board, recipe-->
                </repeat>
            </div><!--boardColumns, recipes-->

        </div><!--end row-->
    </div><!--end container, board-->
</div><!--.mainContent-->