<!--Home page content-->
<div class="mainContent text-center">
    <form method="post" action="">
        <legend>{{ @title }}</legend>

        <div class="form-group">
            <label for="name">Username:
                <input class="form-control" type="text" name="name" id="name" <check if="{{isset(@POST.name)}}">value="{{@POST.name}}"</check>>
            </label>
        </div>
        <div id="userMessage"></div>

        <div class="form-group">
            <label for="pass">Password
                <input class="form-control" type="password" name="pass" id="pass">
            </label>
        </div>
        <div id="passMessage"></div>

        <button class="btn btn-primary">Sign Up!</button>
        <a class="btn btn-primary" role="button" href="login">Already have an account?</a>
    </form>
</div>