<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>{{@title}}</title>
</head>
<body>

<!--Header/navbar-->
<header>
    <div>
        <div id="logo">
            <h1>Scoop</h1>
            <img src="images/LOGO-icon(2).png" alt="THE SCOOP">
        </div>
        <nav class="navbar">
            <div class="container d-flex">
                <div id="btn1">
                    <a class="nav-item nav-link mx-auto" href="">
                        PROFILE</a>
                </div>
                <div id="btn2">
                    <a class="nav-item nav-link mx-auto" href="">
                        THE SCOOP!</a>
                </div>
                <div id="btn3">
                    <a class="nav-item nav-link mx-auto" href="">
                        RECIPES</a>
                </div>
                <div id="btn4">
                    <a class="nav-item nav-link mx-auto" href="">
                        LOG IN</a>
                </div>

            </div><!-- container -->
        </nav><!-- nav -->
    </div>
</header>

<h1>{{@title}}</h1>

<!--Include for main page content-->
<include href="{{@contentPath}}"></include>

<!--Footer-->
<div class="text-center">
    <footer>Sugar never lies!<br>Created by Ean Daus and Amanda Williams</footer>
</div>
</body>
</html>