<!DOCTYPE html>
<html lang="en">
<head profile="http://awilliams.greenriverdev.com/Candyland/">
    <link rel="icon" type="image/png" href="images/LOGO-icon_MIN.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <check if="{{ @mobileStyles=='false' }}">
        <link rel="stylesheet" href="css/mobile-style.css">
    </check>
    <check if="{{ @title == 'Profile' }}">
        <link rel="stylesheet" href="css/profileStyles.css">
    </check>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>{{@title}}</title>
</head>
<body>

<!--Header/navbar-->
<header>
    <div>
        <div id="logo">
            <img src="images/LOGO-icon(2).png" alt="The Scoop">
        </div>
        <nav class="navbar">
            <div class="container d-flex">
                <div id="btn1">
                    <a class="nav-item nav-link mx-auto" href="home">
                        Home</a>
                </div>
                <div id="btn2">
                    <a class="nav-item nav-link mx-auto" href="articles">
                        Articles</a>
                </div>
                <div id="btn3">
                    <a class="nav-item nav-link mx-auto" href="recipes">
                        Recipes</a>
                </div>
                <div id="btn4">
                    <!--if logged in, profile button. otherwise, login button.-->
                    <check if="{{isset(@SESSION.user)}}">
                        <true>
                            <a class="nav-item nav-link mx-auto" href="profile">
                                Profile</a>
                        </true>
                        <false>
                            <a class="nav-item nav-link mx-auto" href="login">
                                Log In</a>
                        </false>
                    </check>
                </div>

            </div><!-- container -->
        </nav><!-- nav -->
    </div>
    <div class="spacer"></div>
</header>
<!-- Placed in the home.html
    and I didn't delete this so
    all would know where it went
<h1>{{@title}}</h1>
-->

<!--Include for main page content-->
<include href="{{@contentPath}}"></include>

<!--Footer-->
<div class="text-center">
    <footer><h3>Sugar never lies!<br>Created by Ean Daus and Amanda Williams</h3></footer>
</div>

<!--Conditional script imports-->
<check if="{{@contentPath == 'views/signUp.html'}}">
    <script src="scripts/signUpVal.js"></script>
</check>
<check if="{{@contentPath == 'views/create.html'}}">
    <script src="scripts/dynamicInputs.js"></script>
</check>
<check if="{{@contentPath == 'views/home.html' or @contentPath == 'views/articles.html'
or @contentPath == 'views/recipes.html' or @contentPath == 'views/board.html'}}">
    <script src="scripts/saveBoard.js"></script>
</check>
<check if="{{@contentPath == 'views/profile.html'}}">
    <script src="scripts/unsaveBoard.js"></script>
</check>
</body>
</html>